@model MyMeetingPlanner.Models.WardMember

@{
    ViewData["Title"] = "Member Details";
}

<h2>Details</h2>

<div>
    <h4>WardMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkCalling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkCalling.CallingName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WardMemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
